<!--<div class="grid grid-cols-3 gap-4">-->
  <%# @projects.each do |project| %>
    <%#= link_to project_path(project), class: "bg-white text-center shadow rounded-lg" do %>
<!--      <div class="grid justify-center py-8">-->
        <%#= image_tag "chat_2", class: "size-20 mb-15" %>
        <%#= content_tag :span, project.name, class: "text-xl font-medium tracking-wide" %>
<!--      </div>-->
    <%# end %>
  <%# end %>
<!--</div>-->


<div class="grid grid-cols-3 gap-4">
  <% @projects.each do |project| %>
    <div class="bg-white text-center shadow rounded-lg">
      <div class="flex flex-col justify-center items-center py-8">
        <%= image_tag "chat_2", class: "size-20 mb-15" %>
        <%= link_to project_path(project), class: "font-normal text-gray-900 bg-violet-100 rounded-md px-3.5 py-2" do %>
          <%= content_tag :span, project.name %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
